doctype html
html
  head
    title CV
    style 
        include style.css
  body
    nav#navbar
         ul
             li #[a(href="/") Home] 
             li #[a(href="/") About ]
             li #[a(href="/Projects") Work ]
             li #[a(href="/") Contact] 


  

    section#section1
      h1 
      div.hello2.reveal
        | I'm Rao Kasif
      div.hello3
        | Full stack developer
      div.hello
        img(src="/static/cv1.jpg", alt="")


    section#section2
      div.download
        <a href="/static/kasif.pdf" download class="download-btn ">Download CV
        <i class ="fa fa-download"></i> 
        </a>


      div#section3
        .h6  Hii everyone , I'm Rao Kasif and  I'm full stack developer.<br>I have experience to develop front as well as backend websites.<br>I have done many projects like--<br>Dance website<br>Ngo website <br>Gym website etc
        h1 About
        div#section4
          h1 Basic Information 

          div.div1
            h3 Name:
          div.div2
            h3 Age:
          div.div3
            h3 Email:
          div.div4
            h3 Contact:
          div.div5
            h3 Address:
            
         
          div.div6
            |Rao Kasif
         
          div.div7
            |20
         
          div.div8
            |raokasif623@gmail.com
         
          div.div9
            |7807857785
         
          div.div10
            |Palampur , Himachal Pradesh , 176083

       
    section#section5 
      h1 Projects
      div.kasif
      div.kasif3
      div.kasif5
      div.kasif2
       h2 Dance website
      div.kasif6
       h2 Ngo website
      div.kasif4
       h2 Gym website

       
       div.photo3
        <a href="https://github.com/kasifrao4712/Ngo-website" target="_blank">
        img(src="/static/photo3.jpeg", alt="" )
        </a>

       div.photo2
        <a href="https://github.com/kasifrao4712/Gym" target="_blank">
        img(src="/static/photo2.jpg", alt="" )
        </a>
        
      div.photo1
        <a href="https://github.com/kasifrao4712/dance-website" target="_blank">
        img(src="/static/Dance website.avif", alt="" )
        </a>
          
     
          

    section#section6
      h1 Skills
      div.skill
    

        <li><h3>HTML</h3>
            <span class="bar"><span class="html"></span></span>
        </li>

        <li><h3>CSS</h3>
            <span class="bar"><span class="css"></span></span>
        </li>

        <li><h3>JAVASCRIPT</h3>
            <span class="bar"><span class="java"></span></span>
        </li>

        <li><h3>NODE JS</h3>
            <span class="bar"><span class="node"></span></span>
        </li>

        <li><h3>PUG</h3>
            <span class="bar"><span class="pug"></span></span>
        </li>
      
        <li><h3>PYTHON</h3>
            <span class="bar"><span class="python"></span></span>
        </li>
      



    section#section8
      h1 Education
      .my My Education

      div.sec1#sec1
        h2 Bachelor's degree  

        div.degree
         | Iam currently pursuing my<br> Btech degree in Computer Science<br> from Govt PG Collage Dharamshala <br>Iam  in 7th Semester 

      div.sec1#sec3
        h2 10+2 Class

        div.degree
          | Completed my 10+2 class<br>from Govt Sen Sec School, Daroh<br> with 90.6% percentage


      div.sec1#sec3
        h2 10 Class
        
        div.degree
         | Completed my 10 class<br>from Dhauladhar Convent School ,Bhawarna<br> with 73 percentage



    section#section7
     h1 Contact
     div.name
      h3 Conatact no : 7807857785

     div.name1
      h3 Address : Palampur, H.P (176083)

     div.name5.pass
      <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
        img(src="/static/hello3.png", alt="")
        </a>
     



     div.name4.pass
      <a href="https://www.facebook.com/rao.kasif.31" target="_blank">
        img(src="/static/hello2.png", alt="")
        </a>

     div.name3.pass
      <a href="https://www.instagram.com/kasif_rao_4712/" target="_blank">
        img(src="/static/hello1.png", alt="")
        </a>


       
     div.name2.pass
       <a href="https://github.com/kasifrao4712" target="_blank">
        img(src="/static/hello4.png", alt="")
        </a>
    


    
 

   
    footer#footer2
      h4 Copyright 2023 CV.com | All Right Reserved 
        

         
                  

    

